<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Camaar</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="top">
<p>Cadastros Pendentes</p>

<%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
</div>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= button_to "Recusar Cadastro", reject_user_path(user), method: :post, data: { confirm: "Tem certeza que deseja recusar este cadastro?" } %>
          <%= button_to "Aceitar como Discente", approve_user_path(user, role: "discente"), method: :post %>
          <%= button_to "Aceitar como Docente", approve_user_path(user, role: "docente"), method: :post %>
          <% if current_user.role == "administrador" %>
            <%= button_to "Aceitar como Administrador", approve_user_path(user, role: "administrador"), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>